<!DOCTYPE html>
<html>
<head>
    <title>Input Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/unified.css">
</head>
<body>
    <button id="startButton" onclick="handleSession()">Talk</button>
    <div id="debugBox" class="debugBox">Debug Information:<br/></div>
    <div id="handshakeBox" class="debugBox">Handshake Information:<br/></div>

    <script src="/static/js/webrtc.js"></script>
    <script src="/static/js/debugging.js"></script>
    <script>
        let isSessionActive = false;
        let localStream;

        function handleSession() {
            if (!isSessionActive) {
                startSession();
                isSessionActive = true;
                document.getElementById('startButton').textContent = 'Stop';
                document.getElementById('startButton').classList.add('red');
            } else {
                stopSession();
                isSessionActive = false;
                document.getElementById('startButton').textContent = 'Talk';
                document.getElementById('startButton').classList.remove('red');
            }
        }

        function startSession() {
            initializeWebSocket(); // Changed to only initialize WebSocket
            getSessionIdAndSetupWebRTC().then(sessionId => {
                navigator.mediaDevices.getUserMedia({ audio: true, video: false }).then(stream => {
                    localStream = stream;
                    addMediaStream(stream);
                    createAndSendOffer(sessionId);
                }).catch(error => {
                    console.error('Error accessing media devices:', error);
                    updateDebugBox('Error accessing media devices: ' + error);
                });
            });
        }

        function stopSession() {
            if (localStream) {
                localStream.getTracks().forEach(track => track.stop());
            }
            stopWebRTCConnection();
            if (socket) {
                socket.close();  // Close the WebSocket connection
            }
        }
    </script>
</body>
</html>
