<!DOCTYPE html>
<html>
<head>
    <title>Output Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/unified.css">
</head>
<body>
    <div id="statusBox" class="connect" onclick="toggleWebRTC()">Connect</div>
    <audio id="audioOutput" autoplay></audio>
    <div id="debugBox" class="debugBox"></div>
    <div id="handshakeBox" class="debugBox">Handshake Information:<br/></div>

    <script src="/static/js/webrtc.js"></script>
    <script src="/static/js/debugging.js"></script>
    <script>
        let isWebRTCConnected = false;
        const statusBox = document.getElementById('statusBox');

        function toggleWebRTC() {
            if (isWebRTCConnected) {
                updateDebugBox("Disconnecting WebRTC...");
                stopWebRTCConnection();
                statusBox.className = 'connect';
                statusBox.textContent = 'Connect';
                isWebRTCConnected = false;
                if (socket) {
                    socket.close();  // Close the WebSocket connection
                }
            } else {
                updateDebugBox("Attempting to connect WebRTC...");
                initializeWebSocket(); // Changed to only initialize WebSocket
                getSessionIdAndSetupWebRTC().then(sessionId => {
                    startWebRTCConnection(sessionId);
                    statusBox.className = 'waiting';
                    statusBox.textContent = 'Waiting for WebRTC Session...';
                }).catch(error => {
                    updateDebugBox("Failed to start WebRTC: " + error);
                });
            }
        }

    </script>
</body>
</html>
